.productPage{
    padding: 3% 0 0 0;
}
.product-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    padding: 0 9%;
}
.product-container .product-images{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}
.product-images .prod-image1{
    min-width: 28vw;
    width: 28vw;
    max-height: 900px;
    cursor: crosshair;
}
.product-images .prod-image2{
    width: 12vw;
    max-height: 400px;
    cursor: crosshair;
}
.product-images .images-points{
    display: none;
}
.product-container .product-details{
    min-width: 40vw;
    color: var(--fourth-color);
}
.product-details .product-reviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 5px 0 0 0;
    font-size: .9rem;
}
.product-reviews .feedbacks svg{
    color: var(--fourth-color);
}
.product-cap h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 350;
}
.product-cap h3{
    font-weight: 400;
    font-size: 1.3rem;
}
.product-infos .checked-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--first-font);
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.checked-info svg{
    font-size: 1.2rem;
}
.checked-info p{
    margin: 0 10px;
    font-size: 1.5rem;
}
.product-color p{
    font-size: 1.1rem;
    margin-top: 20px;
}
.product-cap .custom-btn{
    width: 100%;
    padding: 10px;
    margin-top: 25px;
}
.product-cap .free-shipping{
    font-size: .8rem;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}
.product-cap .estimated-delivery{
    background-color: var(--second-body-color);
    padding: 15px;
    font-size: .8rem;
    text-align: center;
}
.prod-spec{
    margin-top: 10px;
    padding: 20px 0;
    border-top: solid 1px var(--sixth-color);
    overflow-y: hidden;
    height: 10vh;
    color: var(--fourth-color);
}
.opened-spec{
    height: 100% !important;
}
.prod-spec:first-child{
    margin-top: 60px;
}
.prod-spec:last-child{
    border-bottom: solid 1px var(--sixth-color);
}
.prod-spec .spec-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 0;
    cursor: pointer;
}
.spec-title h3{
    font-size: 1rem;
    margin: auto 0;
    text-transform: uppercase;
    font-weight: 400;
}
.prod-spec p{
    margin-top: 20px;
    font-size: .9rem;
}
.prod-plus-minus svg{
    font-size: 1rem;
}
.hidden-svg{
    display: none;
}
.suggested-products-container{
    margin: 80px 0 0 0;
    padding: 20px 0;
    background-color: var(--second-body-color);
}
.sugg-prod-title h1{
    font-size: 2.5rem;
    color: var(--fourth-color);
    font-family: var(--first-font);
}
.sugg-prod-title h3{
    font-size: 1rem;
    color: var(--sixth-color);
}
.suggested-products-container .sugg-prod-title{
    text-align: center;
    padding: 20px;
}
.suggested-products{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 40px 20px;
}
.sugg-prod{
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--fifth-color);
    height: 100%;
}
.sugg-prod-link:hover .sugg-prod-image1{
    opacity: 0;
}
.sugg-prod .sugg-prod-images{
    position: relative;
    top: 0;
    left: 0;
}
.sugg-prod img{
    width: 100%;
    height: 60vh;
    margin-bottom: 15px;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}
.sugg-prod .sugg-prod-image1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.sugg-prod-link{
    color: var(--font-color);
}
.sugg-prod-link:hover{
    color: var(--gold-color) !important;
}   
.sugg-prod h2{
    font-size: 1.1rem;
    padding: 15px 10px 5px 10px;
}
.sugg-prod h4{
    font-size: 1rem;
    padding: 0 10px;
}
.sugg-prod-feedbacks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 10px 20px 10px;
}
.sugg-prod-feedbacks .rate{
    font-size: 1rem;
}
.sugg-prod-feedbacks .feedbacks svg{
    margin: 3px;
    font-size: 1rem;
}
.full-image{
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.images-box{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 450px;
}
.images-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-box .full-image1{
    z-index: 800;
}
.images-box .full-image2{
    z-index: 799;
}
.zero-opacity{
    opacity: 0;
}
.images-box svg{
  position: absolute;
  bottom: 30px;
  z-index: 801;
  background-color: white;
  border-radius: 50%;
  font-size: 3rem;
  padding: 15px;
  cursor: pointer;
}
.greater-icon{
    right: 30%;
}
.less-icon{
    left: 30%;
}
.full-x-mark{
    padding: 18px !important;
    font-size: 4rem !important;
    left: 50%;
    transform: translateX(-50%);
}
.other-colors{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.other-colors .color{
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 3px transparent;
}
.chosen-color{
    border: solid 3px var(--fifth-color) !important;
}


@media screen  and (max-width: 1281px){
    .product-cap h1{
        font-size: 1.5rem;
    }
    .product-cap h3{
        font-size: 1.1rem;
    }
    .checked-info p{
        font-size: 1.2rem;
    }
    .product-cap .custom-btn{
        font-size: .9rem !important;
    }
    .product-color p{
        font-size: .8rem;
    }
    .suggested-products{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    
}
@media screen  and (max-width: 1030px){
    .productPage{
        padding: 0 0 0 0;
    }
    .product-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 0;
    }
    .product-container .product-details{
        min-width: 100%;
        padding: 20px;
    }
    .product-container .product-images{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 20px;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    }
    .product-container .product-images::-webkit-scrollbar {
        display: none;  /* For Chrome, Safari, and Edge */
      }
    .product-images .prod-image1{
        min-width: 100%;
        width: 100%;
        max-height: 90%;
    }
    .product-images .prod-image2{
        min-width: 100%;
        width: 100%;
        max-height: 90%;
    }
    .view-product{
        padding: 0 0;
    }
    .images-points{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 7px;
    }
    .images-points .point{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        opacity: .5;
    }
    .active-point{
        opacity: 1 !important;
    }
    .suggested-products{
        gap: 20px;
    }
    .sugg-prod-title h1{
        font-size: 1.8rem;
    }
    .sugg-prod-title h3{
        font-size: 1rem;
    }
}
@media screen  and (max-width: 550px){
    .suggested-products{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        gap: 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .sugg-prod{
        width: 275px !important;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .images-box{
        width: 300px;
    }
    .images-box img{
        object-fit: contain;
    }
    .greater-icon{
        right: 20%;
    }
    .less-icon{
        left: 20%;
    }
}
@media screen and (min-height: 910px){
    .prod-spec{
        height: 7vh;
    }
    .sugg-prod img{
        height: 55vh;
    }
    .images-box{
        width: 600px;
    }
}