.all-footer-elements{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
}
footer{
    background: var(--fifth-color);
    width: 100%;
}
.owner-info{
    line-height: 30px;
}
.owner-info p{
    color: #ffebc9;
    font-size: .9rem;
}
.owner-info h3{
    margin: 10px 0;
}

.owner-info p strong{
    font-weight: 500;
    color: #ffebc9 !important;
}
.logo img{
    width: 90px;
    height: 90px;
}
 .address-info, .account-info, .payment-info{
    padding: 30px 0;
}
 .address-info .footer-link, .account-info .footer-link{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffebc9;
    font-size: .9rem;
}
 footer h3{
    color: #ecd4a0;
    font-family: var(--first-font);
    font-size: 1.7rem;
}
.payment-info .footer-link{
    color: #ecd4a0;
    font-size: 2rem;
    margin-right: 20px;
}
.follow-me svg{
    color: #ffebc9;
    font-size: 1.1rem;
    margin: 10px 3px;
}
.owner{
    color: #ecd4a0;
    background-color: var(--first-color);
    padding: 12px 20px;
    border-top: solid 1px #ecd4a0;
    
}
.owner p{
    font-size: .9rem;
    margin: auto;
}
.coupon-sub-container{
    background-color: var(--sixth-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3px 6.8%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.coupon-sub-container .newsletter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}
.newsletter svg{
    font-size: 2.5rem;
}
.newsletter h1{
    font-size: 1.5rem;
    font-family: var(--first-font);
    margin-top: 15px;
}
.coupon-sub-container .subscription{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.subscription p{
    font-size: .9rem;
    margin-top: 10px;
}
.subscription .input-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.input-button input{
    width: 22vw;
    padding: 8px;
    font-size: .9rem;
    outline: none;
    border: none;
}
.input-button button{
    width: 9vw;
    padding: 2px 0;
    font-size: 1.4rem;
    font-family: var(--first-font);
    border: none;
    background-color: var(--fifth-color);
}
button .sub-link{
    color: var(--font-color);
}
@media screen and (max-width: 1400px){
    .newsletter svg{
        font-size: 2rem;
    }
    .newsletter h1{
        font-size: 1.2rem;
    }
    .subscription p{
        font-size: .7rem;
    }
    .input-button input{
        padding: 5px;
        font-size: .8rem;
    }
    .input-button button{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1101px){
    .all-footer-elements{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      .owner-info p{
        font-size: .8rem;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    .address-info .footer-link, .account-info .footer-link{
        font-size: .8rem;
    }
    footer h3{
        font-size: 1.3rem;
    }
    .payment-info .footer-link{
        font-size: 1.8rem;
        margin-right: 10px;
    }
    .owner p{
        font-size: .9rem;
    }
}
@media screen and (max-width: 810px){
    .subscription p{
        display: none;
    }
    .input-button input{
        font-size: .8rem;
        width: 32vw;
    }
    .input-button button{
        font-size: 1.1rem !important;
        width: 15vw;
    }
    .coupon-sub-container{
        padding: 20px 2.8%;
    }
}
@media screen and (max-width: 590px){
    .coupon-sub-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
        padding: 20px 10px;
    }
    .input-button input{
        width: 100%;
        padding: 6px;
    }
    .input-button button{
        font-size: 1.5rem;
        width: 35vw;
    }
}